.navbar-items {
  order: 3;

  @include lg-size {
    flex-grow: 1;
    order: 2;
  }

  .search-and-dropdown {
    display: flex;
    align-items: center;
    @include animate-opacity-translate(0, 50px, 0, 0.7s, ease-out);

    @include lg-size {
      display: none;
    }

    .dropdown-button {
      position: relative;
      margin-left: 15px;
      padding: 5px 2px;

      @include sm-size {
        padding: 7px 4px;
        margin-left: 25px;
      }

      div {
        height: 2px;
        background-color: black;
        border-radius: 2px;
        transform: translateX(0);
        transition: 0.25s ease-in-out;
      }

      .middle {
        width: 20px;

        @include sm-size {
          width: 26px;
        }
      }

      .top {
        position: absolute;
        top: 0;
        right: 0;
        width: 10px;

        @include sm-size {
          width: 13px;
        }
      }

      .bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 10px;

        @include sm-size {
          width: 13px;
        }
      }
    }
  }

  .items-container {
    position: absolute;
    top: 36px;
    right: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    height: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;

    @include sm-size {
      top: 55px;
    }

    @include lg-size {
      height: auto !important;
      overflow: visible !important;
      position: static;
      display: flex;
      justify-content: space-evenly;
    }

    .nav-item {
      display: inline-block;
      margin: 0 0 6px;
      padding: 6px 10px 4px;
      font-size: 14px;
      text-transform: capitalize;
      border: 1px solid rgba(0, 0, 0, 0.08);
      border-radius: 2px;
      white-space: nowrap;
      @include animate-opacity-translate(0, 0, -35px, 0.7s, ease-out);

      @include sm-size {
        margin: 0 0 8px;
        padding: 8px 13px 6px;
        font-size: 16px;
      }

      @include lg-size {
        margin: 0;
        padding: 10px 15px;
        font-size: 18px;
        border: none;
        border-radius: 0;
      }

      .dropdown-icon {
        margin-left: 8px;

        svg {
          width: 8px;
          margin-top: 6px;

          @include lg-size {
            width: 15px;
            margin-top: 7px;
          }
        }
      }
    }

    .dropdown-container {
      position: relative;
      height: 0;
      overflow: hidden;

      @include lg-size() {
        margin-top: 18px;
        position: absolute;
        top: 30px;
      }

      .nav-item {
        margin-bottom: 5px;
        border-radius: 3px;
        opacity: 1;
        transform: translateY(0);
        animation: none;

        @include lg-size {
          margin-bottom: 8px;
          visibility: hidden;
          opacity: 0;
          transform: translateX(0px);
        }
      }

      &.active {
        height: auto;
        overflow: visible;

        @include lg-size {
          .nav-item {
            visibility: visible;
            opacity: 1;
            transform: translateX(-50px);
            transition: 0.25s ease-in-out;

            &:nth-child(2) {
              transition-delay: 0.1s;
            }
            &:nth-child(3) {
              transition-delay: 0.2s;
            }
          }
        }
      }
    }
  }

  &.active {
    .search-and-dropdown {
      .dropdown-button {
        .top {
          transform: translateX(-140%);

          @include sm-size {
            transform: translateX(-22px);
          }
        }

        .bottom {
          transform: translateX(140%);

          @include sm-size {
            transform: translateX(22px);
          }
        }
      }
    }

    .items-container {
      height: auto;
      transition: 0.3s ease-in-out;
    }
  }
}
