.items-carousel {
  padding: 20px 30px;
  margin-bottom: 50px;
  flex-direction: column;

  @include md-size {
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .carousel-title {
    font-size: 22px;
    margin-bottom: 15px;

    @include md-size {
      width: 200px;
      font-size: 33px;
      margin-bottom: 0;
      margin-right: 70px;
      align-self: center;
    }
  }

  .items-slider {
    position: relative;
    width: 311px;
    height: 145px;
    overflow: hidden;

    @include md-size {
      width: 800px;
      height: 215px;
    }

    .wrapper {
      display: flex;
      position: absolute;
    }

    .item-card {
      padding-top: 25px;

      @include md-size {
        padding-top: 40px;
        margin-right: 21px;
      }

      .card-image {
        padding-right: 15px;
        margin-right: 5px;

        @include md-size {
          padding-right: 21px;
        }

        svg {
          width: 116px;
          height: 116px;

          @include md-size {
            width: 178px;
            height: 178px;
          }

          path {
            fill: $secondary-green;
          }
        }

        img {
          width: calc(100% - 8px);
          bottom: 5px;
          right: 0;

          @include md-size {
            width: calc(100% - 13px);
            bottom: 10px;
          }
        }
      }

      .text-area {
        width: 175px;

        .card-title,
        .card-price {
          font-size: 18px;
          @include md-size {
            font-size: 23px;
          }
        }

        .card-title {
          padding-right: 80px;
          margin-bottom: 11px;

          @include md-size {
            padding-right: 50px;
          }
        }

        .card-description {
          font-size: 13px;
          line-height: 15px;
          margin-bottom: 12px;

          @include md-size {
            font-size: 12px;
            line-height: 18px;
            margin-bottom: 15px;
          }
        }
      }
    }
  }

  @include md-size {
    .items-slider {
      .card {
        // background-color: khaki;
        // margin-right: 5px;
        // flex: 1;
      }
    }
  }
}
