.search-box {
  display: flex;
  align-items: center;
  width: 28px;
  height: 28px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 65px;
  padding-right: 28px;
  overflow: hidden;
  transition: 0.2s ease-in-out;

  @include sm-size {
    padding-right: 45px;
    width: 45px;
    height: 45px;
  }

  @include lg-size {
    padding-right: 65px;
    width: 65px;
    height: 65px;
  }

  .search-button {
    pointer-events: none;
    padding: 0px 8px;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    margin-top: 2px;
    cursor: pointer;

    @include sm-size {
      padding: 14px;
      margin-top: 0;
      margin-bottom: 1px;
    }

    @include lg-size {
      padding: 22px;
      margin-top: 0;
      margin-bottom: 1px;
    }

    svg {
      width: 12px;

      @include sm-size {
        width: 16px;
      }

      @include lg-size {
        width: 21px;
      }
    }
  }

  .input-container {
    display: none;

    .search-input {
      width: 100%;
      padding: 5px 0 5px 10px;
      font-size: 13px;

      @include sm-size {
        padding: 10px 0 10px 15px;
        font-size: 16px;
      }

      @include lg-size {
        padding: 15px 0 15px 20px;
        font-size: 20px;
      }
    }
  }

  &:hover {
    width: 130px;

    @include sm-size {
      width: 205px;
    }

    @include lg-size {
      width: 280px;
    }

    .input-container {
      display: block;
    }
  }

  &:focus-within {
    .search-button {
      pointer-events: initial;
    }
  }
}
