@import "../../style/breakpoints";
@import "../../style/animation";
@import "../../style/mixins";

.header {
  width: 100%;
  padding: 0 0 0 19px;
  margin: 35px 0 0;

  @include sm-size {
    padding: 0 20px 0 40px;
    margin: 25px 0 30px;
  }

  @include md-size {
    padding: 0 40px 0 60px;
    margin-bottom: 80px;
  }

  @include lg-size {
    padding: 0 10px 0 25px;
    margin-bottom: 90px;
  }

  @include xl-size {
    padding: 0 75px 0 65px;
  }

  @include xxl-size {
    max-width: 1700px;
    margin: 25px auto 90px;
  }

  .header-container {
    padding: 0 0 25px 0px;

    @include lg-size {
      padding: 30px 0 65px 55px;
    }

    @include xl-size {
      padding: 40px 0 65px 85px;
    }

    .graphic-container {
      position: absolute;
      z-index: 0;
      @include animate-opacity-translate(0, 60px, 0, 0.9s, ease-out, 0.3s);

      @include lg-size {
        height: 100%;
      }

      @include xl-size {
        text-align: right;
      }

      img {
        height: 235px;
        width: 262px;

        @include sm-size {
          height: 350px;
          width: auto;
        }

        @include md-size {
          height: 450px;
        }

        @include lg-size {
          height: inherit !important;
        }
      }

      .donut-graphic {
        position: absolute;
        bottom: -18%;
        left: 12%;
        z-index: -100;

        @include sm-size {
          bottom: -15%;
          left: 15%;
        }

        @include xl-size {
          bottom: -15%;
          left: 18%;
        }

        svg {
          width: 105px;
          height: auto;

          @include sm-size {
            width: 135px;
          }

          @include md-size {
            width: 175px;
          }

          @include lg-size {
            width: 210px;
          }
        }
      }
    }

    .text-area {
      width: 100%;
      padding-top: 125px;
      z-index: 100;

      @include sm-size {
        padding-top: 150px;
      }

      @include lg-size {
        padding-top: 0;
      }

      .half-circles {
        top: 24px;
        @include animate-opacity-translate(0, -30px, 0, 0.8s, ease-out, 0.6s);

        @include lg-size {
          top: 55px;
        }

        svg {
          height: 44px;
          width: auto;

          @include lg-size {
            height: 50px;
          }

          @include xl-size {
            height: 70px;
            width: auto;
          }
        }
      }

      .title,
      .description {
        max-width: 300px;
        @include lg-size {
          max-width: 600px;
        }
      }

      .title {
        position: relative;
        font-size: 50px;
        letter-spacing: 0.05em;
        margin-bottom: 24px;
        padding-right: 20px;
        @include animate-opacity-translate(0, -30px, 0, 0.8s, ease-out, 0.5s);

        @include lg-size {
          transform: translateX(-50px);
          padding-right: 50px;
          line-height: 95px;
          font-size: 75px;
        }

        @include xl-size {
          line-height: 103px;
          font-size: 100px;
          margin-bottom: 38px;
        }
      }

      .description {
        position: relative;
        font-size: 18px;
        letter-spacing: 0.05em;
        line-height: 24px;
        margin-bottom: 35px;
        padding-left: 10px;
        @include animate-opacity-translate(0, 0, 30px, 0.8s, ease-out, 0.75s);

        @include lg-size {
          font-size: 21px;
          line-height: 37px;
          padding-right: 100px;
          margin-bottom: 77px;
          padding-left: 0px;
        }

        @include xl-size {
          padding-right: 100px;
        }
      }

      .buttons-container {
        position: relative;
        max-width: 360px;
        justify-content: space-between;
        padding-right: 20px;
        z-index: 100;

        @include xs-size {
          padding-right: 40px;
        }

        @include lg-size {
          max-width: 595px;
          justify-content: unset;
          padding: 0;
          margin-bottom: 18px;
        }

        .explore-button {
          display: inline-block;
          opacity: 0;
          @include animate-opacity-translate(0, 0, 30px, 0.75s, ease-out, 1s);

          button {
            padding: 16px;
            font-size: 16px;

            @include lg-size {
              padding: 23px 22px;
              font-size: 18px;
            }

            span {
              margin-top: 5px;
              letter-spacing: 0.05em;

              @include lg-size {
                margin-top: 3px;
              }
            }

            .button-icon {
              svg {
                width: 20px;
              }
            }
          }
        }

        .video-button {
          display: flex;
          align-items: center;
          margin-top: 33px;
          @include animate-opacity-translate(0, 0, 30px, 0.75s, ease-out, 1s);

          @include lg-size {
            margin-top: 0;
          }

          button {
            @include lg-size {
              margin-left: 60px;
              align-items: center;
            }

            .button-icon {
              padding: 12px;
              border-radius: 100%;

              @include lg-size {
                padding: 23px;
              }

              svg {
                width: 15px;
                height: 15px;

                @include lg-size {
                  width: 20px;
                  height: 20px;
                }
              }
            }
            span {
              font-size: 14px;
              letter-spacing: 0.05em;
              margin-left: 9px;

              @include lg-size {
                font-size: 18px;
                margin-left: 18px;
              }
            }
          }
        }

        .buttons-graphic {
          bottom: -25px;
          left: -10px;

          @include md-size {
            bottom: -45px;
            left: -45px;
          }

          @include lg-size {
            bottom: -60px;
          }

          @include xl-size {
            bottom: -95px;
            left: -110px;
          }

          svg {
            width: 60px;
            height: auto;

            @include md-size {
              width: 100px;
            }

            @include xl-size {
              width: 160px;
            }

            path {
              stroke-width: 3px;

              @include xl-size {
                stroke-width: 2px;
              }
            }

            #line {
              @include animate-stroke-dashoffset(121, 121, 1.3s, ease, 1.5s);
            }
            #tip {
              @include animate-stroke-dashoffset(26, 26, 1s, ease, 2s);
            }
          }
        }

        .buttons-graphic-2 {
          top: -13px;
          right: 25px;
          @include drop-shadow(0, 1px, 3px, rgba(0, 0, 0, 0.25));
          @include animate-header-element();

          @include sm-size {
            right: -30px;
          }

          @include lg-size {
            top: -30px;
            right: 50px;
            @include drop-shadow(0, 4px, 10px, rgba(0, 0, 0, 0.25));
          }

          @include xl-size {
            top: -18px;
            right: -45px;
          }

          .graphic-element {
            width: 40px;

            @include lg-size {
              width: 88px;
            }
          }
        }
      }
    }
  }
}
