.navbar {
  padding: 28px 30px;

  @include md-size() {
    padding: 30px 140px 15px;
  }

  .brand-container {
    order: 1;

    .brand-logo {
      width: 17px;
      margin-right: 7px;

      @include md-size {
        width: 25px;
      }
    }
    .brand-name {
      font-size: 20px;
      letter-spacing: 0.05em;

      @include md-size {
        font-size: 26px;
      }
    }
  }

  .buttons-container {
    display: none;
    order: 2;

    @include md-size {
      order: 3;
    }

    @include md-size {
      display: flex;
      align-items: center;
    }

    .sign-up-button {
      padding-left: 42px;
      padding-right: 42px;
      margin-left: 60px;

      span {
        font-size: 21px;
      }
    }
  }
}
