.custom-button {
  @include basic-button;
}

.primary-button {
  @include basic-button;

  display: flex;
  justify-content: center;
  padding: 23px 22px;
  background-color: $button_background_color;
  border-radius: 100px;
  color: #ffffff;

  span {
    margin-top: 2px;
  }

  .button-icon {
    margin-left: 8px;
    svg {
      path {
        fill: #fff;
      }
    }
  }
}
