@font-face {
  font-family: "PT Sans Narrow";
  src: url("./fonts/PTSansNarrow-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "PT Sans Narrow";
  src: url("./fonts/PTSansNarrow-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Antipasto Pro";
  src: url("./fonts/antipasto.regular.ttf");
  font-weight: normal;
}
