@mixin gradient-background($gradient-values) {
  background: -webkit-linear-gradient($gradient-values);
  background: -moz-linear-gradient($gradient-values);
  background: linear-gradient($gradient-values);
}

@mixin drop-shadow($x, $y, $blur, $color) {
  -webkit-filter: drop-shadow($x $y $blur $color);
  filter: drop-shadow($x $y $blur $color);
}

@mixin mobile-scrollbar() {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@mixin desktop-scrollbar() {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

@mixin desktop-scrollbar() {
  @include desktop-scrollbar();

  &::-webkit-scrollbar-thumb {
    background: #cbdaf1;
    border-radius: 5px;
  }

  // &::-webkit-scrollbar-thumb:hover {
  //   background: #555;
  // }
}

@mixin loop-increment($rule, $number, $value) {
  @for $i from 1 to ($number + 1) {
    &:nth-child(#{$i}) {
      -webkit-#{$rule}-delay: (#{$i * $value});
      #{$rule}-delay: (#{$i * $value});
    }
  }
}

@mixin loop-children($num-of-children, $property: "", $value, $value-fn: "") {
  @for $i from 1 to ($num-of-children + 1) {
    &:nth-child(#{$i}) {
      #{$property}: #{$value-fn }(#{$value});
    }
  }
}

@mixin for-loop($number-of-children, $property, $value, $value-fn) {
}

@mixin basic-button {
  font-family: "Espera", Arial, Helvetica, sans-serif;
  font-size: 18px;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;

  &:focus {
    border: none;
    outline: none;
    // outline: 1px solid rgba(0, 0, 0, 0.2);
  }

  &:focus-visible {
    outline: 1px solid black;
  }
}
