.position-fixed {
  position: fixed !important;
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;

  &.from-top {
    top: 0 !important;
  }
  &.from-bottom {
    bottom: 0 !important;
  }
  &.from-left {
    left: 0 !important;
  }
  &.from-right {
    right: 0 !important;
  }

  &.to-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.cover-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cover-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
