@mixin theme_generator(
  $theme-name,
  $theme-page-background-color,
  $theme-primary-color,
  $theme-secondary-color
) {
  .__#{$theme-name}-theme__ {
    background-color: $theme-page-background-color !important;
    .__primary-bg-color__ {
      background-color: $theme-primary-color !important;
    }
    .__secondary-bg-color__ {
      background-color: $theme-secondary-color !important;
    }
    .__primary-text-color__ {
      color: $primary_text_color !important;

      svg {
        path {
          fill: $primary_text_color !important;
        }
        rect {
          stroke: $primary_text_color !important;
        }
        circle {
          stroke: $primary_text_color !important;
        }
      }
    }
    .__secondary-text-color__ {
      color: $secondary_text_color !important;
    }
    .__button-text-color__ {
      color: $button_text_color !important;

      svg {
        path {
          fill: $button_text_color !important;
        }
      }
    }
    .__button-bg-color__ {
      background-color: $button_background_color !important;
    }
    .__input-text-color__ {
      color: $input_text_color;

      &::placeholder {
        color: rgba($input_text_color, 0.4);
      }
    }
    .__svg-primary-color__ {
      svg {
        path {
          fill: $theme-primary-color !important;
        }
      }
    }
    .__svg-secondary-color__ {
      svg {
        path {
          fill: $theme-secondary-color !important;
        }
      }
    }
    .__brand-name-color__ {
      color: $primary_text_color !important;
    }
    .__navbar-item-bg-color__ {
      background-color: $navbar_items_background_color;
      box-shadow: 1px 2px 5px $navbar_items_shadow_color;

      @include lg-size {
        background-color: transparent;
        box-shadow: none;
      }
    }
    .__navbar-dropdown-bg-color__ {
      background-color: $navbar_dropdown_items_background_color;
      box-shadow: 1px 2px 5px $navbar_dropdown_items_shadow_color;
    }
    .__arrow-color__ {
      svg {
        path {
          stroke: $theme-primary-color !important;
        }
      }
    }
    .__two-leafs-color__ {
      #top {
        fill: $theme-secondary-color !important;
      }
      #bottom {
        fill: $theme-primary-color !important;
      }
    }
    .__donut-color__ {
      svg {
        path {
          fill: rgba($theme-primary-color, 0.3) !important;
        }
      }
    }
  }
}

@include theme_generator("aloe-vera", #f4fff9, #b8e2d6, #d3e8cd);
@include theme_generator("blueberry", #ebf1fb, #778ebb, #b5c6e8);
@include theme_generator("chocolate", #f3ead9, #b76a40, #d1a77c);
