$primary_text_color: #1d221e;
$secondary_text_color: #686e6a;

//headings
$h1_font_size_mobile: 50px;
$h1_font_size_lg: 75px;
$h1_font_size_xl: 100px;

$h2_font_size_mobile: 22px;
$h2_font_size_lg: 33px;

$h3_font_size_mobile: 17px;
$h3_font_size_sm: 23px;
$h3_font_size_md: 18px;
$h3_font_size_lg: 23px;

//button
$button_background_color: #1d221e;
$button_text_color: #ffffff;

//input
$input_text_color: #000000;

//navbar
$navbar_items_background_color: rgba(255, 255, 255, 0.7);
$navbar_items_shadow_color: rgba(0, 0, 0, 0.1);
$navbar_dropdown_items_background_color: rgba(228, 228, 228, 0.7);
$navbar_dropdown_items_shadow_color: rgba(0, 0, 0, 0.1);
