.carousel {
  padding: 20px 0;
  margin: 0 8px 10px;

  @include xs-size {
    margin: 0 30px 20px;
  }

  @include lg-size {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  @include xl-size {
    padding: 0;
    margin: 0 0 70px;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .carousel-title {
    font-size: 22px;
    margin-bottom: 10px;
    padding-left: 10px;
    @include animate-opacity-translate(0, -30px, 0, 0.8s, ease-out, 1.2s);

    @include xs-size {
      padding-left: 0;
      margin-bottom: 15px;
    }

    @include sm-size {
      margin-bottom: 35px;
    }

    @include md-size {
      margin-bottom: 30px;
    }

    @include lg-size {
      font-size: 33px;
      margin-bottom: 50px;
      margin-right: 70px;
    }

    @include xl-size {
      width: 200px;
      align-self: center;
    }
  }

  .carousel-body {
    display: inline-block;

    @include md-size {
      padding-right: 65px;
    }

    .slides-container {
      display: inline-block;
      position: relative;
      width: 311px;
      overflow: hidden;

      @include sm-size {
        width: 400px;
      }

      @include md-size {
        width: 622px;
      }

      @include lg-size {
        width: 800px;
      }

      .wrapper {
        display: flex;
        position: relative;
        transition: 0.5s ease-in-out;
      }

      .item-card {
        padding-top: 25px;
        @include animate-opacity-translate(0, 0, 50px, 0.8s, ease-out);

        &:nth-child(1) {
          animation-delay: 1.5s;
        }
        &:nth-child(2) {
          animation-delay: 1.8s;
        }

        @include sm-size {
          padding-top: 40px;
          margin-right: 21px;
        }

        @include md-size {
          padding-top: 25px;
          margin-right: 0;
        }

        @include lg-size {
          padding-top: 40px;
          margin-right: 21px;
        }

        .card-image {
          padding-right: 15px;
          margin-right: 5px;

          @include sm-size {
            padding-right: 21px;
          }
          @include md-size {
            padding-right: 15px;
          }

          @include lg-size {
            padding-right: 21px;
          }

          svg {
            width: 116px;
            height: 116px;

            @include sm-size {
              width: 178px;
              height: 178px;
            }

            @include md-size {
              width: 116px;
              height: 116px;
            }

            @include lg-size {
              width: 178px;
              height: 178px;
            }
          }

          img {
            width: calc(100% - 8px);
            bottom: 5px;
            right: 0;
            @include drop-shadow(3px, 2px, 5px, rgba(0, 0, 0, 0.2));

            @include sm-size {
              width: calc(100% - 13px);
              bottom: 10px;
              @include drop-shadow(5px, 5px, 10px, rgba(0, 0, 0, 0.2));
            }

            @include md-size {
              width: calc(100% - 8px);
              bottom: 5px;
              right: 0;
              @include drop-shadow(3px, 2px, 5px, rgba(0, 0, 0, 0.2));
            }

            @include lg-size {
              width: calc(100% - 13px);
              bottom: 10px;
              @include drop-shadow(5px, 5px, 10px, rgba(0, 0, 0, 0.2));
            }
          }

          &.light {
            svg {
              path {
                fill: $secondary-green;
              }
            }
          }

          &.dark {
            svg {
              path {
                fill: $primary-green;
              }
            }
          }
        }

        .text-area {
          width: 175px;

          .card-title,
          .card-price {
            font-size: 17px;

            @include sm-size {
              font-size: 23px;
            }

            @include md-size {
              font-size: 18px;
            }

            @include lg-size {
              font-size: 23px;
            }
          }

          .card-title {
            padding-right: 70px;
            margin-bottom: 11px;

            @include sm-size {
              padding-right: 50px;
            }

            @include md-size {
              padding-right: 80px;
            }

            @include lg-size {
              padding-right: 50px;
            }
          }

          .card-description {
            font-size: 14px;
            line-height: 15px;
            margin-bottom: 12px;
            height: 45px;

            @include sm-size {
              font-size: 13px;
              line-height: 18px;
              margin-bottom: 15px;
              height: 55px;
            }

            @include md-size {
              font-size: 13px;
              line-height: 15px;
              margin-bottom: 12px;
              height: 45px;
            }

            @include lg-size {
              font-size: 12px;
              line-height: 18px;
              margin-bottom: 15px;
              height: 55px;
            }
          }
        }
      }
    }

    .control-buttons {
      display: inline-block;
      position: absolute;
      top: 25px;
      right: 10px;

      @include xs-size {
        right: 0px;
      }

      @include md-size {
        top: 50%;
        transform: translateY(-50%);
      }

      .next,
      .prev {
        width: 25px;
        height: 25px;
        background-color: $button_background_color;
        border-radius: 100%;

        @include md-size {
          display: block;
          width: 45px;
          height: 45px;
        }

        svg {
          width: 7px;
          height: auto;
          margin-bottom: 1px;

          @include md-size {
            width: 10px;
            margin-bottom: 0;
            margin-top: 5px;
          }
        }
      }

      .next {
        @include animate-opacity-translate(0, 0, 20px, 0.7s, ease-out, 1.9s);

        @include md-size {
          animation-delay: 2.2s;
        }
      }

      .prev {
        margin-right: 10px;

        @include md-size {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
    }
  }
}
