.app {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  background-color: $background-color;

  // @include xl-size {
  //   width: 1440px;
  //   margin: auto;
  // }
}
